<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <%= form_with model: @user do |form| %>
    <h3>Enter your verification code</h3>
    <p>A verification code will be sent to you shortly.</p>
        <%= form.label :code %>
        <%= form.text_field :code %>
        <%= form.submit 'Verify', url: update_path(@user) %>
    <% end %>
</body>
</html>