<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jom tolong</title>
</head>
<body>
    <h1>Index</h1>
    <% @initiatives.each do |initiative| %>
        <div class="card">
            <div class="card-img">
            </div>
            <div class="card-copy">
                <h3 class='card-heading'><%= initiative.name %></h3>
                <a class='card-link' href="<% initiative.link %>">Go</a>
            </div>
        </div>
    <% end %>
</body>
</html>