/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

/* Variables */
:root {
	/* Colors */
	--cta-color: #ffd803;
	--bg-2: #bae8e8;
	--bg: #fffffe;
	--text-color: #272343;
	--paragraph-color: #2d334a;
	--card-headline-color: #fffffe;
	--card-paragraph-color: #fffffe;
	--card-highlight: #bae8e8;
	--card-bg: #272343;
	/* Fonts */
	--heading: 32px;
	--subheading: 18px;
	--paragraph: 16px;
	--card-heading: 1.6rem;
	--card-subheading: 16px;
	--card-paragraph: 1.1rem;
	/* Measurements */
	--border-radius: 5px;
}

/* CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
label,
p {
	margin: 0;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	letter-spacing: 0.75px;
	font-family: 'Asap', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	background: var(--bg);
}

a {
	text-decoration: none;
}

button {
	font-family: inherit;
}

.heading {
	font-size: var(--heading);
}
.subheading {
	font-size: var(--subheading);
}
.paragraph {
	font-size: var(--paragraph);
}

/* Navbar */
header,
footer {
	height: 60px;
	display: flex;
	justify-content: center;
}

.logo {
	height: inherit;
	width: auto;
}
/* Buttons */
.primary,
.secondary {
	font: inherit;
	color: var(--text-color);
	padding: 0.7rem;
	border-radius: 5px;
}
.primary {
	background-color: var(--cta-color);
}
.secondary {
	background: rgba(15, 14, 26, 50%);
	border: 1px solid var(--yellow);
}

/* Media Queries */
@media (min-width: 360px) {
	:root {
		--heading: 40px;
	}
}

@media (min-width: 768px) {
	:root {
		--heading: 65px;
		--subheading: 32px;
		--paragraph: 20px;
	}

	.primary,
	.secondary {
		padding: 1em;
	}
}
