// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 45vh;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url(/assets/hero-img.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: overlay;

	.hero-copy {
		line-height: 1.3;
	}

	.hero-links {
		margin-top: 2em;
		.primary {
			margin-right: 1em;
		}
	}
}

#filter {
	display: flex;
	flex-direction: column;

	label {
		display: inline;
		margin-right: 1.2em;
	}

	.with {
		margin-bottom: 1em;
	}

	#helps_search,
	#districts_search {
		width: 60%;
	}
}

#help-section {
	height: 100vh;

	#helps-partial {
		height: 90%;

		.swiper-container {
			height: 100%;
		}
	}
}
#help-section,
#initiatives {
	.card {
		width: 85%;
		height: max-content;
		padding: 1.5em;
		margin: 0 auto;
		background: var(--card-bg);
		border-radius: 5px;
		box-shadow: 5px 5px 10px #e0e0e0;

		.card-text {
			.card-heading {
				font-size: var(--card-heading);
				font-weight: bold;
				color: var(--card-heading-color);
			}
			.tag {
				display: inline-block;
				padding: 5px 10px;
				margin: 0.75em 0;
				background-color: var(--bg);
				border-radius: var(--border-radius);
			}
			.card-subheading {
				color: var(--card-highlight);
				font-weight: bold;
			}
			.card-paragraph {
				color: var(--card-paragraph-color);
				margin: 0.75em 0;
			}
		}
		.card-link {
			display: block;
			padding: 0.75em 2em;
			text-align: center;
			border-radius: var(--border-radius);
			color: var(--card-heading-color);
			background-color: var(--cta-color);
			font-weight: bold;
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 75% !important;
	}
	.swiper-pagination {
		bottom: 23% !important;
	}
}

@media screen and (min-width: 600px) {
	#help-section,
	#initiatives {
		.card {
			height: 55%;
		}
		.swiper-button-prev,
		.swiper-button-next {
			top: 65% !important;
		}
		.swiper-pagination {
			bottom: 34% !important;
		}
	}
}
@media (min-width: 768px) {
}
