// Place all the styles related to the PersonsInNeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// new.html.erb
form {
	padding: 2.3em;
	label {
		display: block;
		width: 100%;
		font-weight: bold;
		margin-top: 1.5em;
		margin-bottom: 0.2em;
	}
	input[type=text],
	textarea,
	select {
		font-size: var(--paragraph);
		width: 100%;
		border-radius: 5px;
		padding: 1em;
		border: 1px solid #acacac;
	}

	input[type=text]:focus,
	textarea:focus,
	select:focus {
		border: 3px solid var(--cta-color);
	}

	input[type=submit] {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 1.5em;
		padding: 1em;
		border: none;
		border-radius: var(--border-radius);
		background-color: var(--cta-color);
		font-weight: bold;
		font-size: var(--paragraph);
		cursor: pointer;
	}

	select {
		font-family: inherit;
		font-size: var(--paragraph);
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		background: url("tabler-icons/icons/chevron-down.svg");
		background-repeat: no-repeat;
		background-size: 20px 21px;
		background-position: right;
		background-origin: content-box;
	}
}

// Media Queries
@media screen and (min-width: 992px) {
	form {
		padding: 3.5em;
	}
}
